.container {
  padding-top: 10px;
}
.form-control {
  margin-bottom: 10px !important;
}
header{
    height: 70px;
    background-color: rgb(218, 218, 218);
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    align-items: center;
}

.btn-outline-secondary {
  margin-bottom: 10px;
}

#button-with-dropdown {
  margin-bottom: 10px !important;
}

h1{
    text-align: center;
    padding: 20px;
}
.courses-box{
    display: grid;
    grid-template-columns: 500px 500px;
    align-items: center;
    grid-gap: 20px;
    justify-content: center;
}

.course{
    background-color: rgb(193, 180, 201);
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    text-align: center;
}

.logo{
    height:100px;
    width:100px;
    background-color: rgb(145, 130, 155);
    font-size:50px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.tags{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    align-items: center;
    grid-gap: 20px;
    justify-content: center;
    
}

.tag{
    text-align: center;
}
